@layer reset {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  html {
    min-width: 20rem;
    min-height: 100%;
    -webkit-text-size-adjust: 100%;
  }

  body {
    min-height: 100%;
    margin: 0;
    -webkit-font-smoothing: antialiased;
  }

  button,
  input,
  textarea,
  select {
    font: inherit;
  }

  button,
  input,
  textarea,
  select {
    touch-action: manipulation;
  }

  [data-theme-switching],
  [data-theme-switching] *,
  [data-theme-switching] *::before,
  [data-theme-switching] *::after {
    transition-duration: 0s !important;
  }
}
